[submodule "external/gd.h"]
	path = external/gd.h
	url = https://github.com/HJfod/gd.h.git
[submodule "external/cocos-headers"]
	path = external/cocos-headers
	url = https://github.com/HJfod/cocos-headers.git
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/GDMP-Shared"]
	path = external/GDMP-Shared
	url = https://github.com/Furries-UwU/GDMP-Shared.git
