[submodule "external/enet"]
	path = external/enet
	url = https://github.com/xhayper/enet.git
	branch = 1.3.17-cmake-fix
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/gd.h"]
	path = external/gd.h
	url = https://github.com/HJfod/gd.h.git
[submodule "external/cocos-headers"]
	path = external/cocos-headers
	url = https://github.com/HJfod/cocos-headers.git
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/GDMP-Shared"]
	path = external/GDMP-Shared
	url = https://github.com/Furries-UwU/GDMP-Shared.git
